name: ceygo_app
description: "A new Flutter project."

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+2

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^3.1.0
  go_router: ^17.0.0
  google_fonts: ^7.0.2
  flutter_svg: ^2.2.2
  flutter_localizations:  
    sdk: flutter
  intl: ^0.20.2
  image_picker: ^1.2.0
  qr_flutter: ^4.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^6.0.0

flutter:

  uses-material-design: true
  generate: true
  
  assets:
     - assets/images/
     - assets/data/
     - assets/cars/
